# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ Create a Jupyter Notebook with markdown and code cells
+ List examples of languages, libraries and tools used in Data Science
+ Demonstrate proficiency in Data Science toolkit knowledge

Some of the popular languages that Data Scientists use are:

* python
* R
* SQL

Some of the commonly used libraries used by Data Scientists include:

+ Numpy
+ tensorflow
+ caret

|Data science Tools|
|------------------|
|Apache Spark|
|matplotlib|
|knime|
|Apache HAdoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

17

In [10]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
 Nadia Hakkou